.product-card {
  .product-add {
    opacity: 0;
    transform: translateY(100%);
    transition: transform ease .1s;
  }

  &:hover {
    .product-description {
      background-color: yellow;
    }

    .product-add {
      transform: translateY(0);
      opacity: 1;
    }
  }
}