.marquee {
    font-size: 2vw;
    color: #eaeaea;
    font-family: 'Nimbus Sans L', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 2.5vw;
    overflow: hidden;
    background-color: #000;
    position: relative;
}

.marquee div {
    display: block;
    width: 200%;
    position: absolute;
    overflow: hidden;
    animation: marquee 12s linear infinite;
}

.marquee span {
    float: left;
    width: 50%;
}

@keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}